<div class="headerbg">
<h1>Edit <%= @user.name %>'s Personal Information</h1>
</div>
<%= form_for(@user, url: "/users/#{@user.id}") do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name%><br>
    
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %><br>

    <%= f.label :password %><br>
    <%= f.text_field :password %><br>

    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %><br>

    <%= f.label :address %><br>
    <%= f.text_field :address %><br>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br><br >
    
    <%= f.submit "Update Info", :class => "showbtn2" %>
    <% end %>