<div class="headerbg">
<h1>Welcome <%= @user.user_name %> </h1>
</div>

<div class="showleftside">
<%= image_tag "mod2image1.jpeg", class: 'showimage' %>

<h3>Personal Info</h3>
<ul>
    <li>Name: <%= @user.name %></li>
    <li>Address: <%= @user.address %></li>
    <li>Email: <%= @user.email %></li>
    <li>Member Since: <%= @user.membership_time %></li>
</ul>

<%= button_to "Edit Info", edit_user_path(@user), :class => "showbtn1", method: :get %><br>
<%= button_to "Destroy Account",user_path(@user), :class => "showbtn2", method: :delete %><br>
</div>


<div class="showrightside">
<h3><%= @user.name %> owns this many games: <%= @user.video_game_count %></h3>
<h4><%= @user.wants_to_trade_count %> of their games are available for trade.</h4>
<%= button_to "Add Game", new_user_game_path(@user),:class => "showbtn2", method: :get %> <br>
<%= button_to "Remove Game", edit_game_path(),:class => "showbtn1", method: :get %>

<% if @user.user_video_games %>
    <h3>Current Collection</h3>
    <ul>
    <% @user.user_video_games.each do |uvg|%>
        <li><%= link_to uvg.game.title, game_path(uvg.game) %><br></li>
            <label>Up For Trade? <%= uvg.yes_or_no %></label>
            <%= button_to "Change Status", "/tradestatus/#{uvg.id}" ,:class => "statusbtn", method: :post %><br>
<% end%>
    </ul>
<% end %>
</div>


<div class="showbottom">
<h3><%= @user.name %> owns this many platforms: <%= @user.platform_count %></h3>

<%= button_to "Add Platform", new_user_platform_path(@user),:class => "showbtn2", method: :get %><br>
<%= button_to "Remove Platform", edit_platform_path(),:class => "showbtn1", method: :get %>

<% if @user.user_platforms %>
<h3>Owned platforms </h3>
    <ul>
    <% @user.user_platforms.each do |up|%>
        <li><%= link_to up.platform.name, platform_path(up.platform) %><br><br>
<% end%>
    </ul>
<% end %>
</div>


