<div class="headerbg">
<h1>Games Homepage</h1>
</div>

<div class="gameStatsLeft">
<h2>Best Game: </h2>
<%= Game.highest_rating%>
<h2>Worst Game: </h2>
<%= Game.worst_rating %>
<h2>Longest Game: </h2>
<%= Game.longest %>
</div>
<div class="gameStatsRight">
<h2>Shortest Game: </h2>
<%= Game.shortest %>
<h2>Newest Game: </h2>
<%= Game.newest %>
<h2>Oldest Game: </h2>
<%= Game.oldest %>
</div>


<table style="width:100%">
<caption>Inventory: <%= Game.total_games %> Games</caption>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Released Date</th>
        <th>Rating</th>
        <th>Completion Time</th>
    </tr>
    <% @games.sort_by{|game|game.title}.each do |game| %>
    <tr>
        <td><%= link_to game.title, game_path(game)%> </td>
        <td><%= game.genre %> </td>
        <td><%= game.release_year %> </td>
        <td><%= game.rating %></td>
        <td><%= game.completion_time %> hours</td>
    </tr>
    <% end %>
</table>