<div class="headerbg">
<h1>Games Homepage</h1>
</div>
<%= button_to 'Home', "/users/#{session[:user_id]}",:class => "showbtn1", method: :get %>

<div class="gameStats">
<h3>Best Game: </h3>
<%= Game.highest_rating%>
<h3>Worst Game: </h3>
<%= Game.worst_rating %>
<h3>Longest Game: </h3>
<%= Game.longest %>
<h3>Shortest Game: </h3>
<%= Game.shortest %>
<h3>Newest Game: </h3>
<%= Game.newest %>
<h3>Oldest Game: </h3>
<%= Game.oldest %>
</div>

<h2>All Games</h2>

<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Released Date</th>
        <th>Rating</th>
        <th>Completion Time</th>
    </tr>
    <% @games.each do |game| %>
    <tr>
        <td><%= link_to game.title, "/games/#{game.id}"%> </td>
        <td><%= game.genre %> </td>
        <td><%= game.release_year %> </td>
        <td><%= game.rating %></td>
        <td><%= game.completion_time %> hours</td>
    </tr>
    <% end %>
</table>