<div class="headerbg">
<h1><%= @game.title %> </h1>
</div>
<% if @game.rating > 7.9 %>
    <h3>is currently one of the hottest games!</h3>
<% end %>

<ul>
    <li>Genre: <%= @game.genre %></li>
    <li>Released Date: <%= @game.release_year %></li>
    <li>Rating: <%= @game.rating %></li>
    <li>Completion Time: <%= @game.completion_time %> hours</li>
</ul>

<h3>Platform(s)</h3>
<% if @game.video_game_platforms %>
    <% @game.video_game_platforms.each do |vgp|%>
        <h3>Currently Available for: </h3>
        <ul>
            <li><%= vgp.platform.name %> </li>
        </ul>
        <% end %>
<% end %>


<h3>Owner(s) looking to trade their copy: </h3>
<h4>Click their name to trade today!</h4>
<ul>
<% @game.tradeable_owners.each do |owner| %>
    <li><%=link_to owner.name, "/tradegame/#{@game.title}/#{owner.id}" %></li><br>
<% end %>
</ul>

